@font-face {
    font-family: "Norse Bold";
    src: url(../font/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: Helvetica, sans-serif;
    line-height: 1.3;
    font-size: 16px;
}

.signup-container {
    min-height: 100vh;
    display: flex;
}

.signup-img-container {
    width: 40%;
    background-image: url(../img/unsplash-cat.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.signup-img-container h1 {
    font-family: "Norse Bold", Lato, sans-serif;
    font-size: 150px;
    color: white;
    text-shadow: 1px 1px 8px gray;
}

.signup-title {
    display: flex;
    background-color: rgba(95, 95, 95, 0.1);
    justify-content: center;
    margin-top: 100px;
    padding: 20px 0;
}

.signup-title > img {
    width: 150px;
}

.signup-img-container .img-credit {
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.img-credit a:link,
.img-credit a:visited {
    color: white;
}
.img-credit a:hover {
    color: black;
}

.signup-form-container {
    width: 60%;
}

.signup-form-header {
    background-color: rgb(250, 250, 250);
    padding: 150px 350px 70px 80px;
}

.signup-form h2 {
    margin-bottom: 20px;
}

.signup-form-top {    
    padding: 30px 0 50px 80px;
    box-shadow: -5px -5px 50px #e3e3e3, 0px -1px 5px #e3e3e3;
}

.signup-form-inputs {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}

.signup-form-inputs > div {
    width: 100%;
    flex: 0 0 50%;
    gap: 20px;
    padding: 10px 50px 0 0;
}

.signup-form-inputs input[type="text"],
.signup-form-inputs input[type="email"],
.signup-form-inputs input[type="tel"],
.signup-form-inputs input[type="password"] {
    width: 100%;
    font-size: 1.3rem;
    padding: 8px 15px;
    border: 1px solid #999;
    border-radius: 3px;
    font-weight: 500;
    outline: none;
}

.signup-form-inputs input[type="email"]:placeholder-shown,
.signup-form-inputs input[type="password"]:invalid {
    border: 1px solid red;
}

.signup-form-inputs input[type="password"]:valid {
    border: 1px solid green;
    background-color: rgba(0 200 0 / 0.2);
}

.signup-form-inputs label:has(+ input[type="password"]:valid) {     /* use :has to target previous sibling */
    color: green;
}

.signup-form-inputs label:has(+ input[type="password"]:invalid:not(:placeholder-shown)) {     /* use :has to target previous sibling */
    color: red;
}
.signup-form-inputs input[type="password"]:invalid:not(:placeholder-shown) {
    background-color: rgba(255, 0, 0, 0.201);
}

.signup-form-inputs input[type="text"]:focus,
.signup-form-inputs input[type="email"]:focus,
.signup-form-inputs input[type="tel"]:focus,
.signup-form-inputs input[type="password"]:focus {
    box-shadow: 1px 1px 8px #bbb;
}

.signup-form > div > label {
    display: block;
    color: #505050;
}

.signup-form-submit {
    padding: 50px 0 0 80px;
}