@font-face {
    font-family: "Norse Bold";
    src: url(../font/Norse-Bold.otf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: Helvetica, sans-serif;
    line-height: 1.3;
}

.signup-container {
    min-height: 100vh;
    display: flex;
}

.signup-img-container {
    width: 40%;
    background-image: url(../img/unsplash-cat.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signup-img-container h1 {
    font-family: "Norse Bold", Lato, sans-serif;
    font-size: 150px;
}

.signup-title {
    display: flex;
    background-color: rgba(95, 95, 95, 0.1);
    justify-content: center;
    margin-top: 100px;
    padding: 20px 0;
}

.signup-title > img {
    width: 150px;
}

.signup-img-container .img-credit {
    text-align: center;
    color: white;
    margin-bottom: 5px;
}

.signup-form-container {
    width: 60%;
}

.signup-form-header {
    margin-top: 200px;
    padding: 0 350px 0 80px;
}